import java.io.BufferReader;
        import java.io.IOExepcion;
        import java.io.ImputStreamReader;

        public class Main {

        public static void main(String[] args) throws IOExpection {
        String nombre;

        BufferdReader teclado = new BufferdReader (new ImputStreamReader(System.in));

        System.out.print("Bienvenido(a)). Favor introduzca su nombre: ");
        nombre = teclado.readline();

        System.out.println("Tu nombre es" + nombre);

        }

        }